*{
	font-family: Arial, Helvetica;
	font-size: 14px;
}

header, footer, aside, nav{
	/*background: #0000ff;*/
	display: block;
}

header, footer{
	text-align: center;
}

header{
	float: left;
	width: 100%;
	background: black;
	color: white;
}

nav{
	display: inline-block;
	clear: both;
	float: left;
	width: 25%;
	background: #0000ff;
}

section{
	display: inline-block;
	float: left;
	width: 50%;
	background: #00ff00;
}

section header{
	background: #00ff00;
	color: black;
}

aside{
	display: inline-block;
	float: right;
	width: 25%;
	background: #ff0000;
}

footer{
	display: block;
	clear: both;
	text-align: center;
}

/*Classes*/

.header{
	font-size: 46px;
}

.footer{
	font-size: 10px;
}

.content{
	font-size: 14px;
}

.navigation{
	font-size: 12px;
}

.sidebar{
	font-size: 10px;
}

/*Attribute selectors*/

[class$="r"]{
	background: magenta;
}

[class*="a"]:not([class$="r"]){
	background: blue;
}

/*6. To add weight to the global font definition of classes, you can put [class="value"] being "value" the class you want to override*/
/*7. You can declare a style attribute wherever you need background: green */