<!DOCTYPE html>
<html ng-app="aplication">
  <head>
    <meta charset="utf-8" />
    <title> Add your Movies </title>
    <link type="text/css" href="lib/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="lib/js/angular.min.js"></script>
    <script type="text/javascript" src="lib/js/app.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="Movies">
      <h1> Add your Movies </h1>
      <form action="javascript:void(0);">
        <div class="row">
          <div class="span4">
            <p><label> Name: </label>
            <input type="text" id="t_name" autofocus ng-model="name" app/></p>
          </div>
          <div class="span4"> 
            <p><label> Plot: </label>
            <input type="text" id="t_plot"ng-model="desc" app/></p>
          </div>
          <div class="span4">
            <p><label> Year: </label>
            <input id="t_year" type="number" min="1900" max="2015" ng-model="year" app/></p>
          </div>
        </div>
        <div class="row"> 
          <div class="span4">
            <p><label> Director: </label>
            <input type="text" ng-model="director" app/></p>
          </div>
          <div class="span4">
            <p><label> Genre: </label>
            <input type="text" ng-model="genre" app/></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            
            <p><input id="bsave" type="submit" value="Save" class="btn btn-success" ng-click="saveMovie()" />

            <input id="bedit" type="reset" value="Clean" class="btn btn-danger" ng-click="cleanData()" /></p>
          </div>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th> Name </th>
            <th> Plot </th>
            <th> Year </th>
            <th> Director </th>
            <th> Genre </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in movies">
            <td> {{item.name}} </td>
            <td> {{item.plot}} </td>
            <td> {{item.year}} </td>
            <td> {{item.director}} </td>
            <td> {{item.genre}} </td>
            <td>
              <a href="javascript:void(0);" class="btn btn-info" ng-click="changeMovies($index)">
                Edit 
            </td>
            <td> <a href="javascript:void(0);" class="btn btn-danger" ng-click="removeMovies($index)"> Delete </a> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>

