html{
	font-family: Courier;
	font-size: 1rem;
}
#Content{	
	background-color: lightgray;		
	width: 45rem;
	height: 31rem;
	color: white;
	border-radius: 1rem 1rem 1rem 1rem;
	padding: 0.07rem;
	margin: 1rem;	
}
#Header{	
	background-color: darkgray;			
	margin: 1rem auto;
	vertical-align: middle;
	height: 3rem;
	text-align: center;
	width: 43rem;
	border-radius: 1rem 1rem 1rem 1rem;
	
}
#Nav{	
	height: 20rem;
	background-color: darkgray;
	text-align: center;	
	margin-left: 1rem;	
	float: left;
	width: 8rem;
	border-radius: 1rem 1rem 1rem 1rem;
	
}

#Aside{
	height: 20rem;
	background-color: drakgray;
	text-align: center;	
	margin-right: 1rem;	
	float: right;
	width: 8rem;
	border-radius: 1rem 1rem 1rem 1rem;
	
}
#Section1{
	height: 20rem;
	background-color: drakgray;
	text-align: center;	
	margin-top:1rem;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-bottom: 1rem;
	width: 25rem;
	border-radius: 1rem 1rem 1rem 1rem;
		
}
#Header1{		
	margin: 1rem;
	background-color: gray;
	height: 3rem;
	border-radius: 1rem 1rem 1rem 1rem;
	
}
#Article{		
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 1rem;
	background-color: gray;
	height: 7rem;
	border-radius: 1rem 1rem 1rem 1rem;
	
}
#Footer1{	
	margin: 1rem;
	background-color: gray;
	height: 3rem;
	border-radius: 1rem 1rem 1rem 1rem;

}
#Footer{		
	margin: 1rem;
	vertical-align: middle;
	background-color: darkgray;
	height: 3rem;
	text-align: center;
	border-radius: 1rem 1rem 1rem 1rem;
	
}
