code {
  background: rgb(120,120,120);
  border-radius: 6px;
  color: rgb(0,0,0);
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
*{
  background-color: rgb(40,40,40);
}
header,
nav,
section,
article,
aside,
footer {
  margin: 1.5% 1.5% 23px 1.5%;
}
#nav{
  background: rgb(120,120,120);
  border-radius: 6px;
  float: left;
  width: 30%;
  height: 265px;
}
section {
  float: left;
  width: 30%;
  
}
#header{
  background: rgb(192,192,192);
  border-radius: 5px;
  padding: 5px 1px;
}
#article{
  background: rgb(192,192,192);
  border-radius: 5px;
  padding: 24px 15px;
}
#footer{
  background: rgb(192,192,192);
  border-radius: 5px;
  padding: 5px 1px;
}
#aside {
  background: rgb(120,120,120);
  border-radius: 6px;
  float: right;
  width: 30%;
  height: 265px;
  
}

footer {
  clear: both;
  margin-bottom: 0;
}
