            #box {
                width       :10rem;
                height      :20rem;
                padding     : 3rem;
                border-width: 1rem;
                /*box-sizing: border-box;*/
            }
            *, *:before, *:after {
             -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            }
            .container {
              margin: 0 auto;
              max-width: 48rem;
              width: 90%;
            }
            @media (min-width: 40rem) {
              .column {
                /*float: left;*/
                padding-left: 1rem;
                padding-right: 1rem;
            }
              
              .column.full { width: 100%; }
              .column.two-thirds { width: 66.7%; }
              .column.half { width: 50%; }
              .column.third { width: 33.3%; }
              .column.fourth { width: 25%; }
              /*.column.flow-opposite { float: right; }  */
            }

            article{
                background-color: gray;
                display:block;
                float:center
                font-size:2rem;    
            }
            body 
                {background-color:lightgray;
                    display: block;}

            
            header{background-color:darkgray;
                text-align: center;
                 font-size: 4.5rem;
                 display: block; }
            footer {
                background-color:darkgray;
                text-align: center;
                 font-size: 0.9rem;
                 display: block; }
            
            #href{background-color:black;
                display: block; }
            h1 {color:black;}
            p{color:black;}
            aside{
                background-color:red;
                font-size: 0.9rem;
                display: block; 
                float:right;width: 18%}

            nav{
                background-color:gray; 
                font-size: 12px;
                display: block;
                float:left;
            }
           
            html *{
                color: #000 ;
                font-family: Andale%20Mono important!;
                display: block;}

            [class$="r"]{
                background-color:magenta;}

            [class*="a"]:not([class$="r"]) { background-color: blue;}        


