
/*SPECIFITY=10*/
.header{
	font-size: 4.6rem;
}

.footer{
	font-size: 0.7rem;
}

.navigation{
	font-size: 0.8rem;
}

.sidebar{
	font-size: 0.7rem;
}

.content{
	font-size: 1rem;
}

/*specifity=100*/
#container{
	width: 70%;
	height: 32rem;
	background-color: #000000;
	margin-left: 15%;
	border-radius: 1.1rem;

}

/*specifity=1*/
header, article{
	width: 90%;
	height: 4rem;
	background-color: #696969;
	margin-left: 5%;
	border-radius: 1.1rem;
}
/*.header p have an specifity=20 (10 .header + 10 p)*/
.header p{
	font-size: 4.6rem;
}
.footer p{
	font-size: 0.7rem;
}
.navigation p{
	font-size: 0.8rem;
}
.sidebar p{
	font-size: 0.7rem;
}
.content p{
	font-size: 1rem;
}


/* specifity=11 (10 for the class and 1 for element)*/
 header.header{
 	background-color: #FF00FF;
 }

 footer.footer{
 	background-color: #FF00FF;
 }

 nav.navigation, aside.sidebar,  section.content{
 	background-color: blue;
 }



/*p HAVE SPECIFITY=10 */
p{
	text-align: center;
	font-family: Georgia;
	font-size: 1rem;
}
nav{
	background-color: #696969;
	float: left;
	width: 20%;
	height: 20rem;
	border-radius: 1.1rem;
	margin-left: 5%;
	margin-top: 1%;
}

aside{
	background-color: #696969;
	float: left;
	width: 20%;
	height: 20rem;
	border-radius: 1.1rem;
	margin-left: 1%;
	margin-top: 1%;
}

footer{
	width: 90%;
	height: 4rem;
	background-color: #696969;
	margin-left: 5%;
	border-radius: 1.1rem;
    margin-top: 36%;

}

section{
	width: 48%;
	height: 20rem;
	float: left;
	background-color: #696969;
	margin-left: 1%;
	margin-top: 1%;
	border-radius: 1.1rem;
}

/* specifity=100*/
#head{
	background-color: #DCDCDC;
	height: 2.5rem;
}

#art{
	background-color: #DCDCDC;
	height: 7.5rem;
}

#fot{
	background-color: #DCDCDC;
	height: 2.5rem;
	margin-top: 2%;
}

