/*SPECIFITY=10*/
.header{
	font-size: 4.6rem;
}

.footer{
	font-size: 0.7rem;
}

.navigation{
	font-size: 0.8rem;
}

.sidebar{
	font-size: 0.7rem;
}

.content{
	font-size: 1rem;
}


header, footer{
	background-color: #FF00FF;
}

nav, aside{
	background-color: blue;
}

#newfont{
  font-size: 5rem;
}

.art[style]{
	background-color: yellow !important;
}
