#moviesection{
	display: inline-block;
	float: left;
}

#moviecontainer{
	float:left;
	margin-left: 5rem;
}

.table{
	  display: block;	
	  width: 50rem;
	  border: 0.1rem solid #000;
}

.table tr, .table td{
	   border: 0.1rem solid #000;
	   width: 12.5rem;
	   text-align: center;	   
}

a{
	text-decoration: none;
	color: blue;
}
a:hover{
	color: red;
}