<!DOCTYPE html>
  <html lang="en">
      <head>
          <meta charset="utf-8">
      </head>
          <body>
              <script src="lib/underscore.js"></script>
              <script src="lib/jquery.js"> </script>
              <script src="lib/backbone.js"></script>
              <script src="lib/modelview.js"></script>
              <script id="movieTemplate" type="text/template">
                <p><%= title %></p> <p>(<%= rating %>)<p> <p>(<%= director %>)<p> <p>(<%= genre %>)<p>  <p>(<%= plot %>)<p> <p>(<%= year %>)<p> 
              </script>
          </body>
  </html>
