.image{

	display: inline-block;
	z-index: 1000;	
	transition: all 0.25s ease-in-out;
	
}
header{
	font-weight: bold;
	font-size: 2rem;	
}
	
.image:hover{
	opacity:0.83;
}
.display:hover .desc {
	margin-left: 0;
}

.desc{
	color: black;		
	transition: all 0.3s ease-in-out;
	margin-left: -3rem;
}