h1{
	font-family: sans-serif;
}
.image{
	
	opacity: 0.2;
	display: inline-block;
	z-index: 1000;	
	transition: all 0.25s ease-in-out;
	height: 30%;
	width: 30%;
	
}
table{
	display: block;
}
#wrapper @media{
	width: auto;
	height: auto;
	margin: auto;
	position: relative;	
}


header{
	font-weight: bold;
	font-size: 2rem;	
}

.image:hover{
	opacity:0.8;	
}
	

.display:hover .desc {
	margin-left: 0;
}

.desc p{
	font-size: 2em;
	padding: 5%;
}

.desc{
	color: #fff;		
	transition: all 0.3s ease-in-out;
	margin-bottom: -3rem;
	opacity:0;		
}
.desc:hover{
	opacity:1;
	transition: all 0.3s ease-in-out;
	/*margin-left: 1rem;*/
}

